/* ============================================= */
/*              Images                           */
/* ============================================= */


.bell-icon {
    width: auto;
    height: 26px;
}

.profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto 2px;
}