/* ============================================= */
/*              Images                           */
/* ============================================= */


.bell-icon {
    width: 26px;
    height: auto;
}

.profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
}