
/* ============================================= */
/*              Variables                        */
/* ============================================= */

//Colors

$primary: rgb(89, 76, 160);
$secondary: rgb(224, 224, 224);
$border-color: rgb(235, 235, 235);

//Breakpoints

$bp1: 768px;
$bp2: 1024px;